.fish_menu {
  display: flex;
  .content {
    border: 1px solid #dcdee3;
    min-width: 300px;
    .item-default {
      display: block;
      height: 32px;
      min-width: 300px;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0 10px;
    }
    .item-active {
      display: block;
      height: 32px;
      min-width: 300px;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: flex;
      align-items: center;
      background: red;
      cursor: pointer;
      padding: 0 10px;
    }
  }
}
